<h1>Sign back in to Gritter</h1>

<form method="post" action="/sessions">
    <input type="text" name="user_name" placeholder="username"/>
    <br><br><input name="password" class="input_text" type="password" placeholder="Password" />
    <br><br><input type="submit" value="Sign In!">
</form>