<!-- <section class="sign_in">
<h1>Sign back in to Gritter</h1>
<form method="post" action="/sessions">
    <input type="text" name="user_name" placeholder="Username" id="post_submits"/>
    <br><input name="password" class="input_text" type="password" placeholder="Password"id="post_submits" />
    <br><input type="submit" value="Sign In!" id="greet_button">
</form> -->