<h1>Please sign in</h1>

<form method="post" action="/sessions">
    <input type="text" name="user_name" placeholder="username"/>
    <br><br><input name="password" class="input_text" type="password" placeholder="Password" />
    <br><br><input type="submit" value="Sign in!">
</form>