<!DOCTYPE html>
<html>
    <head>
      <title>Gritter!</title>
        <link rel="stylesheet" type="text/css" href="/css/application.css">  
    </head>
  <body>
  	<% if current_user %>
  		Welcome, <%= current_user.user_name %>
  	<% end %>
    <%= yield %>
  </body>
</html>