<section class="sign_up">
<h1>Sign up to join Gritter</h1>
	
	<form action="/users" method="post">
		<input name="user_name" type="text" placeholder="Create Username" id="post_submits"><br>
		<input name="name" type="text" placeholder="Your name" id="post_submits"><br>
		<input name="email" type="text" placeholder="E-mail Address" id="post_submits"><br>
		<input name="password" class="input_text" type="password" placeholder="Password" id="post_submits"><br>
		<input name="password_confirmation" class="input_text" type="password" placeholder="Re-type Password" id="post_submits"/><br><br>
		<input type="submit" value="Join Gritter!" id="greet_button">
	</form>