/*body {
  font-family: Helvetica, Arial, Sans-serif;
  color: white;
  background-color: rgb(123,179,211);  
}*/
/**{background:#C0DEED;}*/
/*html, body {
  height: 100%;
}*/

* {
  color: black;

}

body {
  font-family: 'Abel', sans-serif;
  font-size: 1.1em;
  background-color:#C0DEED
}

h1#welcome {
  display: inline;
}

section.links {
  display: inline;
  float: right;
}



.moving-image {
  height: 200px;
  color: rgb(245,248,250);
  background-color:#C0DEED;
  background: url(https://abs.twimg.com/images/themes/theme1/bg.png) center repeat-x;

    animation: awan-animasi 20s linear infinite;
    -ms-animation: awan-animasi 20s linear infinite;
    -moz-animation: awan-animasi 20s linear infinite;
    -webkit-animation: awan-animasi 20s linear infinite;
  }

  @keyframes awan-animasi {
    from {
      background-position: 0 0;
    }

    to {
      background-position: 100% 0;
    };
  }

  @-webkit-keyframes awan-animasi {
    from {
      background-position: 0 0;
    }

    to {
      background-position: 100% 0;
    };
  }

  @-ms-keyframes awan-animasi {
    from {
      background-position: 0 0;
    }

    to {
      background-position: 100% 0;
    };
  }

  @-moz-keyframes awan-animasi {
    from {
      background-position: 0 0;
    }

    to {
      background-position: 100% 0;
    };
}
























































































/*section.all {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(123,179,211);
}

section.sign_in {
  width: 40%;
  padding: 15px;
  font-size: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-left: auto;
  margin-right: auto;
  border: white solid 2px;
  border-radius: 50px;
  text-align: center;
}

section.sign_up {
  width: 40%;
  padding: 15px;
  font-size: 35px;
  margin-left: auto;
  margin-right: auto;
  border: white solid 2px;
  border-radius: 50px;
  text-align: center;
}


section.footer {
  font-size: 17px;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
  padding: 1%;
}

section.links {
  text-align: right;
  font-size: 25px;
  padding: 15px;
  padding-right: 100px;
}

section.main{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  border: white solid 2px;
  border-radius: 10px;
}

section.current{
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 40px;
  text-align: center;
  font-weight: bolder;
  font-style: italic;
}

section.header{
  width: 85%;
  padding: 5px;
  padding-bottom: 10px;
  font-size: 100px;
  text-align: center;
  font-weight: bolder;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  border: white solid 2px;
  border-radius: 50px;
}

p.user_greet{
  font-size: 15px;
  color: rgb(100,100,100);
  font-style: italic;
  font-weight: bold;
  padding-left: 15px;
}

p.body_greet{
  font-size: 40px;
  padding-left: 15px;
  text-align: left;
}

p.time_greet{
  font-size: 10px;
  text-align: right;
  padding-right: 19px;
}

section.post_greet{
  width: 65%;
  padding-bottom: 25px;
  font-size: 50px;
  text-align: center;
  font-weight: bolder;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  border: white solid 2px;
  border-radius: 50px;
}

section.logged_in{
  width: 25%;
  font-size: 35px;
  text-align: left;
  font-weight: bolder;
  font-style: italic;
}

#sign_out_button{
  display: inline-block;
  width: 8em;
  height: 3em;
  margin-top: 5px;
  border-width: 0px;
  border-radius: 5px;
  color: white;
}
#greet_button{
  display: inline-block;
  width: 8em;
  height: 4em;
  margin-top: 5px;
  border-width: 0px;
  border-radius: 5px;
  font-size: 15px;
  color: white;
}

#post_submits_greet{ 
  width: 30em;
  height: 3em;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}

#post_submits{ 
  width: 12em;
  height: 3em;
  font-size: 20px;
  margin: 5px;
}*/