<% if current_user %>
  Hey, <%= current_user.user_name %>!<br>
  <form method="post" action="/sessions">
    <input type="hidden" name="_method" value="delete"><input type="submit" value="Sign Out!">
  </form><br>
  	
  <form method="post" action="/greets">
    Greet : <input type="text" name="body" placeholder="whatcha thinking">
    <input type="hidden" name="user_name" value="<%= current_user.user_name %>">
    <input type="hidden" name="name" value="<%= current_user.name %>">
    <input type="submit" value="Greet!">
  </form>
<% end %>