<% if current_user %>
<section class="logged_in">
  Hey, <%= current_user.user_name %>!<form method="post" action="/sessions">
    <input type="hidden" name="_method" value="delete"><input type="submit" value="Sign Out!" id="sign_out_button">
  </form>
</section><br>
 
<section class="post_greet">  	
  <form method="post" action="/greets">
    Greet : <input type="text" name="body" placeholder="..whatcha thinking.........." id="post_submits_greet">
    <input type="hidden" name="user_name" value="<%= current_user.user_name %>">
    <input type="hidden" name="name" value="<%= current_user.name %>">
    <input type="submit" value="Greet!" id="greet_button">
  </form>
</section>
<% end %>