<header>

<section class="moving-image">

	<h1 id="welcome">Chitter!</h1>
	
  <section class= "links">
    <a href='/' class='button'>Home</a>
    <a href='/sessions/new'class='button'>Sign in</a> 
    <a href='/users/new' class='button'>Sign up</a>
  </section>
  
</section>

</header>
