<header>
  <section class= "links">
    --<a href='/'>Home</a>
    --<a href='/sessions/new'class='button'>Sign in</a> 
    --<a href='/users/new' class='button'>Sign up</a>
    --
  </section></header>


<section class="header">
<header>Welcome to Gritter!
</header>
</section>