<h1> Welcome to Gritter! </h1>
<h2> Current Greets..... </h2>
<% @greets.reverse.each do |greet| %>

<p><h6><%= greet.user_name %></h6></p>
<p><h2><%= greet.body %><h2></p>
<p><h6>Greeted at <%= greet.created_at.to_s.chars[0..15].each_slice(10).to_a.rotate.flatten.drop(1).insert(5, " ").join %></h6></p>
<br>
<% end %>
