<h1>Welcome to Gritter!</h1>

Click here to sign in : <form method="LINK" action="page1.htm">
<inout type="submit" value="Sign in">
</FORM>
Click here to sign up: <form method="link" action='/'>
<input type="submit" value="Sign up">
</form>



<!-- <form action="/users" method="post">
  Name: <input name="name" type="text">
  User_name: <input name="user_name" type="text">
  Email: <input name="email" type="text">
  Password: <input name="password" type="text">
  <input type="submit" value="Sign up">
</form> -->