<!DOCTYPE html>
<html>
    <head>
      <title>Gritter!</title>
        <link rel="stylesheet" type="text/css" href="/css/application.css">  
    </head>
  <body>
    <%= partial :flash %>
    <%= partial :greet_section %>
    <%= yield %>
  </body>
</html>